map-interest {
  position: absolute;

  background: rgba(255, 255, 255, 0.75);
  border: 4px ridge red;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);

  padding: 5px;
  box-sizing: border-box;

  overflow: scroll;

  min-width: 0;
  min-height: 0;

  transition: opacity 0.2s;
}

map-interest:not(:hover) {
  background-color: transparent;
  opacity: 0.5;
}

map-interest:hover {
  width: unset !important;
  height: unset !important;
  min-width: 300px !important;
  max-width: 60vw !important;
  max-height: 300px;
}

map-interest > h1 {
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 0.3em;
}

map-interest > p {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

map-layer-picker {
  position: fixed;
  top: 20px;
  left: 20px;

  background: white;
  color: black;
  box-shadow: 0 0 8px black;

  padding: 5px;

  border: 4px ridge blue;

  transition: opacity 0.2s;
}

map-layer-picker:not(:hover) {
  opacity: 0.4;
}

map-layer-picker ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

map-layer-picker ul li {
  cursor: pointer;
}

map-layer-picker ul li.selected {
  font-weight: 800;
  color: blue;
}
